body {
    background: #c7ecee;
    margin: 0px;
    box-sizing: border-box;
}

.title {
    color: #777;
    font-family: 'Raleway';
    font-size: 1.5em;
    width: 1200px;
    margin: 10px auto;
    text-align: center;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.card {
    height: 450px;
    width: 300px;
    padding: 20px 35px;
    border-radius: 10px;
    background: #dff9fb;
    margin: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s cubic-bezier(0.02,0.01,0.47,1);
}

.card h1 {
    font-family: 'Raleway';
    text-align: center;
    color: #22a6b3;
    font-size: 22px;
}

.card .button {
    background: #22a6b3;
    color: #c7ecee;
    border: none;
    border-radius: 5px;
    width: 110px;
    padding: 15px;
    margin-top: px;
    display: inline-block;
    font-family: 'Raleway';
    font-size: 16px;
    text-align: center;
}
  
.card a {
    text-decoration: none;
}

.card .content p {
    font-size: 14px;
    color: #535c68;
    line-height: 20px;
    font-family: 'century gothic';
}
.card:hover {
    color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.card:before,
.card:after {
    content: '';
    background: #22a6b3;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: -80px;
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0,0,0);
    transition: all 0.15s cubic-bezier(0.02,0.01,0.47,1);
}

.card:hover:before,
.card:hover:after {
    opacity: 0.15;
}

.card:hover:before {
    transform: translate3d(50%,0,0) scale(0.9);
}

.card:hover:after {
    transform: translate(50%,0) scale(1.1);
}