body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: lightgray;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -20%);
    width:600px;
    height: 330px;
    background: white;
    border-radius: none;
}

h1 {
    text-align: right;
    margin: 0 150px ;
    color: orange;
}

h3 {
    text-align: right;
    margin: 0 120px ;
    color: rgb(197, 191, 191);
}

.card {
    position: absolute;
    text-align: left;
    margin: 0 0 0 0 ;
    border: 2px orange;
    outline: orange;
    height: 366px;
    box-sizing: border-box;
}

.container form {
    padding: 0 ;
    box-sizing: border-box;
    text-align: right;
    margin: 10px 25px 0 301px;
}

form .txt_field {
    position: relative;
    
    margin: 15px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 50px;
    background: none;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid orange;
    outline: none;
}

button[type="submit"] {
    width: 95%;
    padding: 0 5px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    background: orange;
    color: white;
    border: none;
    border-radius: 25px;
    outline: none;
}

.psw {
    font-size: 14px;
    color: rgb(153, 147, 147);
    padding: 20px 10px;
    
}

 